@if (Request.IsAuthenticated)
{
    <style>
        li {
            background: #d0a772;
            color: #ffffff;
            border-radius: 4px;
            margin: 4px;
        }

        .a_exception {
            color: #ffffff !important;
        }
    </style>
    <link rel="stylesheet" href="~/Content/Theme1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Theme1/css/style.css">
    <link rel="stylesheet" href="~/Content/Theme1/css/responsive.css">
    <link rel="stylesheet" href="~/Content/Theme1/css/custom.css">

    if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <li class="dropdown nav-item active nav-link" style="padding:1px">

            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Administative Functions<b class=""></b></a>

            <ul class="dropdown-menu">
                <li class="dropdown-header">Item Inventory</li>
                <li class="nav-link">@Html.ActionLink("Manage Products", "Index", "Products")</li>
                <li class="nav-link">@Html.ActionLink("Returns And Refunds", "Index", "ReturnAndRefunds")</li>

                <li class="divider"></li>
                <li class="dropdown-header">Tool Manager</li>
                <li class="nav-link">@Html.ActionLink("Manage Roles", "Index", "RolesAdmin")</li>
                <li class="nav-link">@Html.ActionLink("Assign Roles", "Index", "UsersAdmin")</li>
                <li class="nav-link">@Html.ActionLink("Manage Requests", "Index", "RequestParts")</li>
                <li class="nav-link">@Html.ActionLink("OverViewSales", "Analytics", "Analytics")</li>
                <li class="nav-link">@Html.ActionLink("Coupon Manager", "Index", "Coupons")</li>
                <li class="divider"></li>
            </ul>
        </li>

    }
    else if (Request.IsAuthenticated && User.IsInRole("Driver"))
    {
        <li class="dropdown nav-item active nav-link">
            <a href="#" class="dropdown-toggle  nav-link" data-toggle="dropdown">Driver Functions<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="dropdown-header">Deliver Order</li>
                <li class="nav-link">@Html.ActionLink("Deliver Order", "Index", "Sales")</li>
            </ul>
        </li>
    }
    else if (Request.IsAuthenticated && User.IsInRole("Customer"))
    {
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active nav-link" style="color:azure; height:32px "><a class="nav-link ">@{Html.RenderAction("CartSummary", "ShoppingCart", new { @class = "a_exception" });}</a></li>
        </ul>
        <li class="dropdown nav-item active nav-link" style="padding:1px">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Main Menu<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="dropdown-header">History</li>
                <li class="nav-link">@Html.ActionLink("Purchase History", "PurchaseHistory", "Manage")</li>

                <li class="dropdown-header">Options</li>
                <li class="nav-link">@Html.ActionLink("Returns/Refunds", "UserReturnsAndRefunds", "ReturnAndRefunds")</li>

                <li class="dropdown-header">Inquiries</li>
                <li class="nav-link">@Html.ActionLink("Enquire Now", "Inqueries", "AutoRepair")</li>
                <li class="nav-link">@Html.ActionLink("My Enquiries", "Index", "AutoRepair")</li>

                <li class="dropdown-header">Parts</li>
                <li class="nav-link">@Html.ActionLink("Request Part", "Index", "RequestParts")</li>
                @*<li class="nav-link">@Html.ActionLink("My Schedules", "MySchedued", "AutoRepair")</li>*@

            </ul>
        </li>
    }
    else if (Request.IsAuthenticated && User.IsInRole("Mechanic/Technician"))
    {
        <li class="dropdown nav-item active nav-link" style="padding:1px">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Mechanic Panel<b class="caret"></b></a>
            <ul class="dropdown-menu">
                @*<li class="dropdown-header">Workspace</li>
                <li class="nav-link">@Html.ActionLink("Assigned To Me", "PurchaseHistory", "Manage")</li>*@
                <li class="dropdown-header">New Enquiries</li>
                <li class="nav-link">@Html.ActionLink("Pending Review", "CustomerInqueries", "AutoRepair")</li>
                @*<li class="dropdown-header">History </li>
                <li class="nav-link">@Html.ActionLink("Completed", "Wlist", "WishLists")</li>*@

                <li class="dropdown-header">Appointments</li>
                <li class="nav-link">@Html.ActionLink("Vehicle Checkin's", "VehicleCheckIns", "AutoRepair")</li>
            </ul>
        </li>
    }
    else if (Request.IsAuthenticated)
    {
        <li class="dropdown nav-item active nav-link">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Account<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="dropdown-header">View Enquiry History</li>
                <li class="nav-link">@Html.ActionLink("Assigned To Me", "PurchaseHistory", "Manage")</li>
                <li class="dropdown-header">View Returns and Refunds</li>
                <li class="nav-link">@Html.ActionLink("Pending Review", "UserReturnsAndRefunds", "ReturnAndRefunds")</li>
                <li class="dropdown-header">Wishlist</li>
                <li class="nav-link">@Html.ActionLink("Completed", "Wlist", "WishLists")</li>

            </ul>
        </li>
    }
    <li class="dropdown nav-item active nav-link" style="padding:1px">

        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">@User.Identity.Name<b class=""></b></a>
        <ul class="dropdown-menu">
            @if (!User.IsInRole("Driver"))
            {
                <li class="dropdown-header">User Profile</li>
                <li class="nav-link">@Html.ActionLink("Manage", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Account Manage", @class = "nav-link" })</li>
                <li class="divider"></li>
            }
            <li class="dropdown-header">Account</li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
            {
                @Html.AntiForgeryToken()
                <li class="nav-link"><a class=" nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            }
            <li class="divider"></li>
        </ul>
    </li>
}
else
{

    <li class="nav-item active nav-link">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-item active nav-link" })</li>
    <li class="nav-item active nav-link">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-item active nav-link" })</li>

}